

::-webkit-scrollbar {
    width: 15px;
  }
  
 
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
 
  ::-webkit-scrollbar-thumb {
<<<<<<< HEAD:cmdb/static/style.css
    background: rgb(247, 171, 72); 
    border-radius: 10px;
=======
    background: #EAEDED; 
    border-radius: 0px;
>>>>>>> 018a627d8bb30b6e27c2d0f7647b6486f9758af0:tmdbd/static/style.css
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
<<<<<<< HEAD:cmdb/static/style.css
    background: #ee128b; 
=======
    background: #CCD1D1; 
>>>>>>> 018a627d8bb30b6e27c2d0f7647b6486f9758af0:tmdbd/static/style.css
  }
  
  .movie {
      color: rgb(243, 81, 81);
      margin-left: auto;
      margin-right: auto;
      resize: none;
      font-family: 'Assistant', sans-serif;
      text-decoration: bold;
      text-shadow: 0.5px 0.5px rgb(247, 242, 242);

  }
  
  .movie-content {
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
  }
  
  .movie-content > div {
      margin:20px;
  }

.btn-block {
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #e4e0e0;
    border-radius: 35px;
    box-shadow: 5px 10px rgb(247, 243, 243);
}

#content {
    background-image: url("../static/bg3.jpeg");
    background-color: #ffffff;
    font-family: 'Noto Sans JP', sans-serif;
}

#details {
    margin-left: 50px;
}
#heading{
    color:white;
    text-shadow:1px 1px rgb(241, 134, 134);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lato' sans-serif;
    font-weight: bold;
    text-align:center;
    
  
}

.footer {
    color: #e4e0e0;
    text-align: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100%;
}

h1 {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight: bold;
    margin-top: 30px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

#autoComplete {
    background-position: 98%;
}

#name {
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    padding: 1px;
    font-weight: bold;
}

h6 {
    margin-bottom: 20px;
}
.poster-lg:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
    cursor: pointer;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 400px) {
    #mcontent {
      display: block;
    }
    .poster-lg {
      display: none;
      cursor: pointer;

    }
    #details {
        margin-left: 30px;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        background-image: url("../static/load.gif");
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #e4e0e0;
        background-size: 40%;
        background-position: 50% 50%;
        background-color: rgba(255, 255, 255, 1);
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
    #loader-text {
        vertical-align: middle;
        color: rgb(0, 0, 0);
    }
    #autoComplete {
        background-position: 97%;
    }
    svg[data-toggle=tooltip] {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 800px) {
    .modal-body {
        display: block;
    }
    .profile-pic {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .modal-body {
        display: flex;
    }
}

@media only screen and (min-width: 651px) {
    .poster-sm {
        display: none;
    }
    #mcontent {
        display: flex;
        flex-wrap: nowrap;
    }
    #loader {
        display: none;
        position: fixed;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("../static/load.gif");
        background-size: 20%;
        background-position: 50% 50%;
        background-color: rgba(255, 255, 255, 1);
        background-repeat: no-repeat;
        -webkit-transition: background-image 0.2s ease-in-out;
        transition: background-image 0.2s ease-in-out;
    }
    #loader-text {
        vertical-align: middle;
        color: rgb(255, 71, 71);
    }
}

.poster{
    -webkit-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    -moz-box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
    box-shadow: 0px 1px 15px 4px rgba(250,250,250,1);
}

.card:hover {
	cursor: pointer;
}


.cast-card:hover {
    cursor: pointer;
}

.cast-img {
	filter: brightness(100%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
	transition: all 0.75s ease;
}


.cast-img:hover {
	filter: brightness(50%);
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig {
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: brightness(50%);
	position: absolute;
	bottom: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	opacity: 0;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.fig:hover {
	opacity: 1;
	backdrop-filter:br;
	-moz-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.card-btn {
	border-radius: 20px;
}

.imghvr {
	position: relative;
}

.table td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.fail {
    display: none;
    color: rgb(51, 50, 50);
    font-family: 'Fjalla One', sans-serif;
}
.movie_title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.932);
    font-size: 50px;
    text-transform: uppercase;

<<<<<<< HEAD:cmdb/static/style.css
=======

.movie_title {
    font-size: 40px;
    /*color: #ffffff;*/
>>>>>>> 018a627d8bb30b6e27c2d0f7647b6486f9758af0:tmdbd/static/style.css
}


